# Thesis 2020-2021: N-Grams model 

In this notebook, we will create an N-Grams model.

In [1]:
import pandas as pd
import numpy as np
import math

import matplotlib
import matplotlib.pyplot as plt

In [2]:
import csv
    
df_train = pd.read_csv('data/hateval2019_en_train.csv')
df_dev = pd.read_csv('data/hateval2019_en_dev.csv')

df_train_dev = df_train.append(df_dev, ignore_index=True)
df_train_dev = df_train_dev.drop(['TR', 'AG'], axis=1)
df_train_dev

         id                                               text  HS
0       201  Hurray, saving us $$$ in so many ways @potus @...   1
1       202  Why would young fighting age men be the vast m...   1
2       203  @KamalaHarris Illegals Dump their Kids at the ...   1
3       204  NY Times: 'Nearly All White' States Pose 'an A...   0
4       205  Orban in Brussels: European leaders are ignori...   0
...     ...                                                ...  ..
9995  19196       @SamEnvers you unfollowed me? Fuck you pussy   0
9996  19197  @DanReynolds STFU BITCH! AND YOU GO MAKE SOME ...   1
9997  19198  @2beornotbeing Honey, as a fellow white chick,...   0
9998  19199  I hate bitches who talk about niggaz with kids...   1
9999  19200  @AnnCoulter @DonaldJTrumpJr You won the" life ...   1

[10000 rows x 3 columns]