# Thesis 2020-2021: Bag-of-Words (BOW) model 

In this notebook, we will create a Bag-of-Words model.

In [1]:
import pandas as pd
import numpy as np
import math

import matplotlib
import matplotlib.pyplot as plt

In [2]:
import csv
    
df_train = pd.read_csv('data/hateval2019_en_train.csv')
df_dev = pd.read_csv('data/hateval2019_en_dev.csv')

df_train_dev = df_train.append(df_dev, ignore_index=True)
df_train_dev = df_train_dev.drop(['TR', 'AG'], axis=1)
df_train_dev

         id                                               text  HS
0       201  Hurray, saving us $$$ in so many ways @potus @...   1
1       202  Why would young fighting age men be the vast m...   1
2       203  @KamalaHarris Illegals Dump their Kids at the ...   1
3       204  NY Times: 'Nearly All White' States Pose 'an A...   0
4       205  Orban in Brussels: European leaders are ignori...   0
...     ...                                                ...  ..
9995  19196       @SamEnvers you unfollowed me? Fuck you pussy   0
9996  19197  @DanReynolds STFU BITCH! AND YOU GO MAKE SOME ...   1
9997  19198  @2beornotbeing Honey, as a fellow white chick,...   0
9998  19199  I hate bitches who talk about niggaz with kids...   1
9999  19200  @AnnCoulter @DonaldJTrumpJr You won the" life ...   1

[10000 rows x 3 columns]

In [5]:
df_test = pd.read_csv('data/hateval2019_en_test.csv')
df_test = df_test.drop(['TR', 'AG'], axis=1)
df_test

         id                                               text  HS
0     34243  @local1025 @njdotcom @GovMurphy Oh, I could ha...   0
1     30593  Several of the wild fires in #california and #...   0
2     31427  @JudicialWatch My question is how do you reset...   0
3     31694  #Europe, you've got a problem!   We must hurry...   1
4     31865  This is outrageous! #StopIllegalImmigration  #...   1
...     ...                                                ...  ..
2995  31368  you can never take a L off a real bitchðŸ˜© im ho...   1
2996  30104  @Brian_202 likes to call me a cunt & a bitch b...   1
2997  31912  @kusha1a @Camio_the_wise @shoe0nhead 1. Never ...   1
2998  31000  If i see and know you a hoe why would i hit yo...   1
2999  30870   You be chasing them hoes fuck what a bitch think   1

[3000 rows x 3 columns]

In [3]:
np.bincount(df_train_dev.HS)

array([5790, 4210], dtype=int64)

In [ ]:
import re

from pattern.text.en import singularize
from nltk.tokenize import TweetTokenizer
tokenizer = TweetTokenizer()

# Create a function to clean the tweets
def cleanTxt(text):
    text = text.lower() # Convert everything to lower case
    text = re.sub(r'@[a-zA-Z0-9]+', '', text) # Remove @mentions
    text = re.sub(r'rt[\s]+', '', text) # Remove RT (retweet symbol)
    text = re.sub(r'&amp;', 'and', text) # Replace '&amp;' by 'and'
    text = re.sub(r'https?:\/\/\S+', '', text) # Remove hyper link  
    #text = re.sub(r'\d+', '0', text) # Replace all numbers by a zero
    text = " ".join([singularize(word) for word in tokenizer.tokenize(text) if word not in stop_words]) # Remove stopwords
    #text = " ".join([singularize(word) for word in text])
    text = re.sub(r'[^\w\s#]', ' ', text) # Remove all non-alphanumeric symbols (excluding whitespace and # characters)
    text = re.sub(r'\s+', ' ', text) # Replace multiple whitespaces by a single whitespace
    text = text.strip() # Remove whitespaces at the beginning and at the end
    
    return text

In [8]:
X_train = df_train_dev.text
X_test = df_test.text
y_train = df_train_dev.HS
y_test = df_test.HS

In [9]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer() 
X_train = vectorizer.fit_transform(X_train)
X_test = vectorizer.transform(X_test)

In [23]:
print(vectorizer.get_feature_names()[3000:3010])
#print(vectorizer.vocabulary_)

['bairn', 'bait', 'baiters', 'baiting', 'baizuo', 'bajuvaria', 'baker', 'bakeries', 'bakerpolito', 'baking']

In [35]:
#X_train.toarray() 
print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(10000, 26851) (10000,) (3000, 26851) (3000,)

In [36]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression().fit(X_train, y_train)
y_predict = clf.predict(X_test)

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [50]:
df_test_bow = df_test.copy()
df_test_bow['HS'] = y_predict
df_test_bow

         id                                               text  HS
0     34243  @local1025 @njdotcom @GovMurphy Oh, I could ha...   0
1     30593  Several of the wild fires in #california and #...   0
2     31427  @JudicialWatch My question is how do you reset...   1
3     31694  #Europe, you've got a problem!   We must hurry...   1
4     31865  This is outrageous! #StopIllegalImmigration  #...   0
...     ...                                                ...  ..
2995  31368  you can never take a L off a real bitchðŸ˜© im ho...   1
2996  30104  @Brian_202 likes to call me a cunt & a bitch b...   0
2997  31912  @kusha1a @Camio_the_wise @shoe0nhead 1. Never ...   0
2998  31000  If i see and know you a hoe why would i hit yo...   1
2999  30870   You be chasing them hoes fuck what a bitch think   1

[3000 rows x 3 columns]

In [48]:
# Create new test dataframe
df_test_bow = df_test.copy()
df_test_bow['HS'] = y_predict

# Create prediction file for the bow_logreg
df_test_bow[['id', 'HS']].to_csv('predictions/bow_logreg.tsv', sep='\t', index=False, header=False)
df_test_bow[['id', 'HS']].to_csv('input/res/en_a.tsv', sep='\t', index=False, header=False)

# Evaluate the result of the dictionary_count_norm
evaluate.write_eval("scores_bow_logreg")

array([0, 0, 1, ..., 0, 1, 1], dtype=int64)

In [44]:
from sklearn import preprocessing
scaler = preprocessing.StandardScaler().fit(X_train.toarray())
X_train_scaled = scaler.transform(X_train.toarray())
X_test_scaled = scaler.transform(X_test.toarray())

clf_scaled = LogisticRegression().fit(X_train_scaled, y_train)
y_scaled_predict = clf_scaled.predict(X_test)

In [47]:
sum(y_scaled_predict)

683

In [41]:
sum(y_predict)

2574